# Explore here

It's recommended to use this notebook for exploration purposes.

For example: 

1. You could import the CSV generated by python into your notebook and explore it.
2. You could connect to your database using `pandas.read_sql` from this notebook and explore it.

In [ ]:
#!pip install git+https://github.com/CristianLazoQuispe/datautils.git

In [10]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import warnings
import folium
from folium import plugins
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
from folium.plugins import HeatMap

In [11]:
# importing the CSV here
df_airbnb = pd.read_csv('../data/raw/AB_NYC_2019.csv')
# dataframe = pd.read_csv('../path/to/file.csv')
# dataframe.describe()

In [12]:
warnings.filterwarnings('ignore')

In [13]:
#ver variables y su contenido
df_airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [14]:
df_airbnb.sample(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
4739,3344509,Beautiful Chelsea Loft 700 Sq ft,1290508,Robert,Manhattan,Chelsea,40.74646,-73.99678,Entire home/apt,179,10,1,2017-01-03,0.03,1,0
36539,29054973,Jul Discount! Beautiful Apartment for 3 in NYC,188741104,Susan,Manhattan,Harlem,40.80872,-73.94274,Entire home/apt,200,31,25,2019-06-18,2.81,4,91
23565,19069649,Big Bedroom in the heart of Manhattan 6r,133130315,Artem,Manhattan,Hell's Kitchen,40.76398,-73.98600,Private room,99,3,12,2019-04-28,0.57,6,179
36782,29232662,Charming Apartment with TERRACE!!,7556128,N.L.,Manhattan,East Village,40.72789,-73.98236,Entire home/apt,240,2,12,2019-06-04,1.51,2,0
13664,10241876,Modern Williamsburg BR for rent,39126862,Alexandra,Brooklyn,Williamsburg,40.70635,-73.95175,Private room,97,2,0,NaN,NaN,2,0

In [17]:
#ajustar el tipo de cada variable
df_airbnb['last_review'] = df_airbnb['last_review'].astype('datetime64[ns]')

In [18]:
df_airbnb=df_airbnb.astype({'name':'str','host_name':'str','neighbourhood_group':'category','neighbourhood':'category','room_type':'category'})

In [19]:
#Resumen de variables numéricas
df_airbnb.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [7]:
df_airbnb['id'].nunique()

48895

In [8]:
numeric_desc, categorical_desc = my_df_describe(df_airbnb,name = 'airbnb',show = True, save=False)

NameError: name 'my_df_describe' is not defined